<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width" />
    <title>Hệ thống học trực tuyến</title>
    <meta name="robots" content="index, follow">
    <meta name="description" content="Dịch vụ học qua mạng với các chương trình ôn, luyện thi, thi thử đại học trực tuyến, dành cho học sinh trung học phổ thông, trung học cơ sở và tiểu học">


    <!-- stylesheet -->
    <link type="text/css" rel="stylesheet" href="https://hocmai.vn/public/fonts/roboto.css"/>
    <link type="text/css" rel="stylesheet" href="https://hocmai.vn/public/home/css/font-awesome.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://hocmai.vn/public/fonts/utmavo.css?v=1.1.3"/>
    <link type="text/css" rel="stylesheet" href="https://hocmai.vn/public/fonts/bay-buom.css"/>
    <link type="text/css" rel="stylesheet" href="https://hocmai.vn/public/fonts/myriad-pro.css"/>
    <link type="text/css" rel="stylesheet" href="https://hocmai.vn/public/home/css/bootstrap-responsive.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://hocmai.vn/public/home/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://hocmai.vn/public/pages/css/jquery.flipster.css"/>
    <link type="text/css" rel="stylesheet" href="https://hocmai.vn/public/pages/css/styles.css?v=1.1.3"/>
    <link type="text/css" rel="stylesheet" href="https://hocmai.vn/public/pages/css/responsive.css?v=1.1.3"/>
    <link rel="stylesheet" type="text/css" href="https://hocmai.vn/public/css/jquery.bxslider.css" />
    <link rel="stylesheet" type="text/css" href="https://hocmai.vn/public/home/css/elastislide.css" />
    <!-- javascript -->
    <!-- favico -->
    <link rel="shortcut icon" href="https://hocmai.vn/public/home/img/favicon.ico">
    <meta name="keywords" content="Học trực tuyến, luyện thi, luyện thi trực tuyến, ôn thi đại học, luyện thi đại học, thi thử đại học, luyện thi cấp tốc, đề thi thử đại học">
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
          processEscapes: true
        },
        "HTML-CSS": { availableFonts: ["TeX"] }
      });
    </script>
    <script language="javascript"  type="text/javascript" src="https://hocmai.vn/public/home/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://hocmai.vn/public/js/mathjax/MathJax.js?config=TeX-AMS_HTML"></script>
    <script type="text/javascript" src="https://hocmai.vn/public/js/jquery.marquee.min.js"></script>
    <script type="text/javascript" src="https://hocmai.vn/public/home/js/jquery.flipster.js"></script>
    <script language="javascript"  type="text/javascript" src="https://hocmai.vn/public/home/js/jaliswall.js"></script>
    <style type="text/css">
        math{
            color: #154991;
        }
    </style>
</head>
<body >
<div id="page">
    <div id="header">
        <div id="header-inner" class="wrapper clearfix">
            
<ul id="menu" class="mrpro">
    <li><a href="http://localhost:3000" target="_blank">Trang chủ</a></li>

</ul>
<div class="box-header-mb">
	<div class="btn-menu">
        <img src="https://hocmai.vn/public/pages/images/about/menu-mb.png" alt="">
    </div>
    <div class="menu-mb" >
    	<div class="btn-close">
	        <img src="https://hocmai.vn/public/pages/images/about/close-mn.png" alt="">
	    </div>
        
        <ul>
            <li>
                <a href="#" </a>
            </li>
            <li>
                <a  href="#" target=""></a>
            </li>
            <li>
                <a href="#" target=""></a>
            </li>
            <li>
                <a  href="http://localhost:3000" target="_blank" >Trang chủ</a>
            </li>
        </ul>
    </div>
</div>        </div>
    </div>
    <div id="main">
        <div id="content" class="wrapper clearfix">
            <!-- <div id="particles-js"> -->
<div  id="particles-js" class="mb help-you">
    <div class="line-layout1">
        <h2 class="mb-title">
            <span class="mbt-content">Elearning For Student</span>
             <p class="first-head firt-pc"><strong>NỀN TẢNG HỌC TRỰC TUYẾN DÀNH CHO HỌC SINH PHỔ THÔNG VIỆT NAM </strong><br /></p>
             <p class="first-head firt-pc">Phiên bản prototype cho Đồ án tốt nghiệp <br /></p>
            <!-- <span class="mbt-icon"><span>Chúng tôi giúp bạn</span></span> -->
        </h2>
    </div>
    <div class="mb-content clearfix">
        <div class="mbc-left">
                       
            <!-- <p class="mbc-lef1 dong1">Hơn <strong> 4 triệu </strong> thành viên đăng kí học tập</p>
            <p class="mbc-lef1 dong2"> Đội ngũ gần <strong>200 giáo viên </strong>  giàu kinh nghiệm</p>
            <p class="mbc-lef1 dong1"> Hơn <strong> 37000 </strong>  bài giảng và <strong> 1.200 </strong> khóa học</p>
            <p class="mbc-lef1 dong2"> Gần <strong> 20.000 </strong> đề kiểm tra với hơn <strong>100.000 </strong> câu hỏi luyện tập</p> -->
            <div class="flex justify-center"><img class='img-l1-r' src='https://hocmai.vn/public/img/activities/thumbs/vuong-mien3.png'><p style="text-align: center;">&nbsp; &nbsp;Hơn<strong> 4 triệu</strong> th&agrave;nh vi&ecirc;n đăng k&iacute; học tập</p>

</div><div class="flex justify-center"><p style="text-align: center;">Đội ngũ gần <strong>20 gi&aacute;o vi&ecirc;n</strong> gi&agrave;u kinh nghiệm&nbsp;&nbsp;</p>

<img class='img-l1-l' src='https://hocmai.vn/public/img/activities/thumbs/vuong-mien3.png'></div><div class="flex justify-center"><img class='img-l1-r' src='https://hocmai.vn/public/img/activities/thumbs/vuong-mien3.png'><p style="text-align: center;">&nbsp; &nbsp;Hơn<strong> 37.000</strong> b&agrave;i giảng v&agrave; <strong>1.200</strong> kh&oacute;a</p>

</div><div class="flex justify-center"><p style="text-align: center;"><strong>200 </strong>đề kiểm tra,&nbsp;<strong>100.000</strong> c&acirc;u hỏi luyện tập&nbsp;&nbsp;</p>
<img class='img-l1-l' src='https://hocmai.vn/public/img/activities/thumbs/vuong-mien3.png'></div>            <!-- <p style="text-align: center;">&nbsp; &nbsp;Hơn<strong> 4 triệu</strong> th&agrave;nh vi&ecirc;n đăng k&iacute; học tập</p>

<p style="text-align: center;">Đội ngũ gần <strong>200 gi&aacute;o vi&ecirc;n</strong> gi&agrave;u kinh nghiệm&nbsp;&nbsp;</p>

<p style="text-align: center;">&nbsp; &nbsp;Hơn<strong> 37.000</strong> b&agrave;i giảng v&agrave; <strong>1.200</strong> kh&oacute;a</p>

<p style="text-align: center;"><strong>20.000 </strong>đề kiểm tra,&nbsp;<strong>100.000</strong> c&acirc;u hỏi luyện tập&nbsp;&nbsp;</p>
 -->
                    </div>
    </div>
</div>
<!-- </div> -->
<div class="mb aboutus about-layout2">
    <h2 class="mb-title mb-blue">
<!--         <span class="mbt-content" style="font-size: 31px;">
                        <span class="mbt-content-1">Nhà trường chỉ cho chúng ta chiếc chìa khóa tri thức,<br>học trong cuộc sống là công việc cả đời</span>
            <span class="mbt-content-2">Rễ của sự học tập thì đắng,<br> quả của sự học tập thì ngọt</span>
        </span> -->
        <!-- <span class="mbt-icon"><span>Về <br />chúng tôi</span></span> -->
        <span  class="mbt-content1">
            Eleaning for Student CUNG CẤP CÁC CHƯƠNG TRÌNH HỌC TRỰC TUYẾN <br>
            CHẤT LƯỢNG CAO CHO HỌC SINH TỪ BẬC TIỂU HỌC, THCS, THPT
        </span>
        <span  class="mbt-content1-mb">
            HOCMAI.VN CUNG CẤP <br> CÁC CHƯƠNG TRÌNH HỌC TRỰC TUYẾN<br>
            CHẤT LƯỢNG CAO CHO HỌC SINH<br> TỪ BẬC TIỂU HỌC, THCS, THPT
        </span>
    </h2>
    <div class="mb-content table-layout2">
        <div class="col-md-12 table-lay2">
            <div class="col-md-3 col-lay2 col3-lay tab-1" >
                <div class="title-lay2">
                    <h3 class="text-center line1-lay2">
                                                     CHƯƠNG TRÌNH HỌC TỐT 
                                            </h3>
                </div>
                <div class="content-lay2">
                    <ul>
                                                    <li>
                                <ul>
	<li style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;">Chương tr&igrave;nh học tập gi&uacute;p học sinh nắm chắc l&yacute; thuyết theo khung chương tr&igrave;nh trong SGK, vận dụng th&agrave;nh thục l&yacute; thuyết v&agrave;o l&agrave;m b&agrave;i tập, r&egrave;n luyện th&agrave;nh thạo c&aacute;c dạng b&agrave;i trong s&aacute;ch gi&aacute;o khoa v&agrave; s&aacute;ch b&agrave;i tập</span></span></li>
	<li style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;">Chương tr&igrave;nh học tốt bao gồm c&aacute;c kh&oacute;a học sau:</span></span></li>
</ul>

<p style="text-align: justify; margin-left: 40px;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;">- Tiểu học: To&aacute;n, Tiếng Việt, Tiếng Anh.</span></span></p>

<p style="text-align: justify; margin-left: 40px;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;">- THCS: To&aacute;n, Vật l&iacute;, H&oacute;a học, Sinh học, Tiếng Anh, Ngữ văn, Lịch sử, Địa l&iacute;.</span></span></p>

<p style="text-align: justify; margin-left: 40px;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;">- THPT: To&aacute;n, Ngữ văn, Tiếng Anh, Vật l&iacute;, H&oacute;a học, Sinh học.</span></span></p>

<p style="text-align: justify; margin-left: 40px;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;"><img alt="" src="/public/home/img/images/col1-line21.png" /></span></span></p>
                             <!--    <img style='width:90%;' src='https://hocmai.vn/public/img/activities/thumbs/col1-line211.png'> -->
                            </li>
                                            </ul>
                </div>
            </div>

            <div class="col-md-6 col-lay2 col3-lay tab-2">
                <div class="title-lay2 " >
                    <h3 class="text-center line1-lay2">
                                                    GIẢI PHÁP LUYỆN THI 

                                            </h3>
                </div>
                <div class="content-lay2 contest">
                    <div class="col-md-4 col1-line2 col-lay">
                        <ul class="title2-lay">
                                                            <li>
                                   <p style="text-align: center;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;">&nbsp; &nbsp;<strong>GIẢI PH&Aacute;P PEN</strong></span></span></p>

<ul>
	<li style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;">Giải ph&aacute;p &ocirc;n luyện d&agrave;nh cho học sinh lớp 12</span></span></li>
	<li style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;">Bao gồm 4 giai đoạn &ocirc;n luyện nhằm trang bị to&agrave;n diện kiến thức , kĩ năng cần thiết cho học sinh tham gia k&igrave; thi tuyển sinh đại học</span></span></li>
</ul>

<p style="text-align: justify;">&nbsp;</p>

<p style="text-align: justify;">&nbsp;</p>

<p style="text-align: justify;">&nbsp;</p>
                                   <img style='width:90%;' src='https://hocmai.vn/public/img/activities/thumbs/col1-line214.png'>                                </li>
                                                    </ul>
                    </div>
                    <div class="col-md-4 col2-line2 col-lay">
                        <ul  class="title2-lay">
                                                            <li>
                                   <p style="text-align: center;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;"><strong>&nbsp;GIẢI PH&Aacute;P HM10</strong></span></span></p>

<ul>
	<li style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;">Giải ph&aacute;p &ocirc;n luyện d&agrave;nh cho học sinh lớp 9 &ocirc;n thi v&agrave;o lớp 10 c&aacute;c trường c&ocirc;ng lập trong cả nước.</span></span></li>
	<li style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;">Bao gồm 3 giai đoạn &ocirc;n luyện nhằm trang bị to&agrave;n diện kiến thức, kỹ năng cần thiết cho học sinh lớp 9 thi v&agrave;o lớp 1</span></span></li>
</ul>

<p>&nbsp;</p>
                                   <img style='width:90%;' src='https://hocmai.vn/public/img/activities/thumbs/col2-line2.png'>                                </li>
                                                    </ul>
                    </div>
                    <div class="col-md-4 col3-line2 col-lay3">
                        <ul  class="title2-lay">
                                                            <li>
                                   <p style="text-align: center;"><span style="font-family:verdana,geneva,sans-serif;"><span style="font-size:16px;">&nbsp;<strong>GIẢI PH&Aacute;P HM6</strong></span></span></p>

<ul>
	<li style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;">D&agrave;nh cho học sinh lớp 5 &ocirc;n thi v&agrave;o lớp 6 c&aacute;c trường THCS chất lượng cao trong cả nước. </span></span></li>
	<li style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;">Bao gồm 2 giai đoạn &ocirc;n luyện to&agrave;n diện kiến thức v&agrave; kỹ năng d&agrave;nh cho học sinh lớp 5 thi v&agrave;o lớp 6</span></span></li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;</p>
                                   <img style='width:70%;' src='https://hocmai.vn/public/img/activities/thumbs/col3-line2.png'>                                </li>
                                                    </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lay2 col3-lay tab-3">
                <div class="title-lay2">
                    <h3 class="text-center line1-lay2">
                                                     KHÓA HỌC BỔ TRỢ 
                                            </h3>
                </div>
                <div class="content-lay2">
                    <ul>
                                                    <li>
                               <p style="text-align: justify;">&nbsp;</p>

<ul>
	<li style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;">C&aacute;c kh&oacute;a học bổ trợ kiến thức - kỹ năng cho học sinh theo từng cấp học, gi&uacute;p học sinh n&acirc;ng cao năng lực học tập c&aacute; nh&acirc;n, tự tin khẳng định bản th&acirc;n trong thời đại số.</span></span></li>
</ul>
                            </li>
                                            </ul>
                 
                </div>
            </div>
        </div>
        <div class="swiper-container">
                        <!-- Add Pagination -->
            <div class="swiper-pagination"></div>

            <div class="swiper-wrapper">
                <div class="swiper-slide">  
                    <div class="col-md-3 col-lay2 " >
                        <div class="title-lay2">
                            <h3 class="text-center line1-lay2">
                                                                     CHƯƠNG TRÌNH HỌC TỐT 
                                                            </h3>
                        </div>
                        <div class="content-lay2">
                            <ul>
                                                                    <li>
                                       <ul>
	<li style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;">Chương tr&igrave;nh học tập gi&uacute;p học sinh nắm chắc l&yacute; thuyết theo khung chương tr&igrave;nh trong SGK, vận dụng th&agrave;nh thục l&yacute; thuyết v&agrave;o l&agrave;m b&agrave;i tập, r&egrave;n luyện th&agrave;nh thạo c&aacute;c dạng b&agrave;i trong s&aacute;ch gi&aacute;o khoa v&agrave; s&aacute;ch b&agrave;i tập</span></span></li>
	<li style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;">Chương tr&igrave;nh học tốt bao gồm c&aacute;c kh&oacute;a học sau:</span></span></li>
</ul>

<p style="text-align: justify; margin-left: 40px;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;">- Tiểu học: To&aacute;n, Tiếng Việt, Tiếng Anh.</span></span></p>

<p style="text-align: justify; margin-left: 40px;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;">- THCS: To&aacute;n, Vật l&iacute;, H&oacute;a học, Sinh học, Tiếng Anh, Ngữ văn, Lịch sử, Địa l&iacute;.</span></span></p>

<p style="text-align: justify; margin-left: 40px;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;">- THPT: To&aacute;n, Ngữ văn, Tiếng Anh, Vật l&iacute;, H&oacute;a học, Sinh học.</span></span></p>

<p style="text-align: justify; margin-left: 40px;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;"><img alt="" src="/public/home/img/images/col1-line21.png" /></span></span></p>
                                    </li>
                                                            </ul>
                        </div>
                    </div>
                </div>
              <div class="swiper-slide">
                  <div class="col-md-6 col-lay2">
                        <div class="title-lay2 " >
                            <h3 class="text-center line1-lay2">
                                                                    GIẢI PHÁP LUYỆN THI 
                                                            </h3>
                        </div>
                        <div class="content-lay2 contest">
                            <div class="col-md-4 col1-line2 col-lay">
                                <ul class="title2-lay">
                                                                            <li>
                                           <p style="text-align: center;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;">&nbsp; &nbsp;<strong>GIẢI PH&Aacute;P PEN</strong></span></span></p>

<ul>
	<li style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;">Giải ph&aacute;p &ocirc;n luyện d&agrave;nh cho học sinh lớp 12</span></span></li>
	<li style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;">Bao gồm 4 giai đoạn &ocirc;n luyện nhằm trang bị to&agrave;n diện kiến thức , kĩ năng cần thiết cho học sinh tham gia k&igrave; thi tuyển sinh đại học</span></span></li>
</ul>

<p style="text-align: justify;">&nbsp;</p>

<p style="text-align: justify;">&nbsp;</p>

<p style="text-align: justify;">&nbsp;</p>
                                            <img style='width:65%;position: inherit;' src='https://hocmai.vn/public/img/activities/thumbs/col1-line214.png'>                                        </li>
                                
                                </ul> 
                                                                </div>
                            <div class="col-md-4 col2-line2 col-lay">
                                <ul  class="title2-lay">
                                                                          <li>
                                           <p style="text-align: center;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;"><strong>&nbsp;GIẢI PH&Aacute;P HM10</strong></span></span></p>

<ul>
	<li style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;">Giải ph&aacute;p &ocirc;n luyện d&agrave;nh cho học sinh lớp 9 &ocirc;n thi v&agrave;o lớp 10 c&aacute;c trường c&ocirc;ng lập trong cả nước.</span></span></li>
	<li style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;">Bao gồm 3 giai đoạn &ocirc;n luyện nhằm trang bị to&agrave;n diện kiến thức, kỹ năng cần thiết cho học sinh lớp 9 thi v&agrave;o lớp 1</span></span></li>
</ul>

<p>&nbsp;</p>
                                            <img style='width:60%;position: inherit;' src='https://hocmai.vn/public/img/activities/thumbs/col2-line2.png'>                                       </li>
                                                                    </ul>
                            </div>
                            <div class="col-md-4 col3-line2 col-lay3">
                                <ul  class="title2-lay">
                                                                            <li>
                                           <p style="text-align: center;"><span style="font-family:verdana,geneva,sans-serif;"><span style="font-size:16px;">&nbsp;<strong>GIẢI PH&Aacute;P HM6</strong></span></span></p>

<ul>
	<li style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;">D&agrave;nh cho học sinh lớp 5 &ocirc;n thi v&agrave;o lớp 6 c&aacute;c trường THCS chất lượng cao trong cả nước. </span></span></li>
	<li style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;">Bao gồm 2 giai đoạn &ocirc;n luyện to&agrave;n diện kiến thức v&agrave; kỹ năng d&agrave;nh cho học sinh lớp 5 thi v&agrave;o lớp 6</span></span></li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;</p>
                                            <img style='width:50%;position: inherit;' src='https://hocmai.vn/public/img/activities/thumbs/col3-line2.png'>                                        </li>
                                                                    </ul>
                            </div>
                        </div>
                    </div>
              </div>
              <div class="swiper-slide">
                    <div class="col-md-3 col-lay2 ">
                        <div class="title-lay2">
                            <h3 class="text-center line1-lay2">
                                                                     KHÓA HỌC BỔ TRỢ 
                                                            </h3>
                        </div>
                        <div class="content-lay2">
                            <ul>
                                                                    <li>
                                       <p style="text-align: justify;">&nbsp;</p>

<ul>
	<li style="text-align: justify;"><span style="font-size:16px;"><span style="font-family:verdana,geneva,sans-serif;">C&aacute;c kh&oacute;a học bổ trợ kiến thức - kỹ năng cho học sinh theo từng cấp học, gi&uacute;p học sinh n&acirc;ng cao năng lực học tập c&aacute; nh&acirc;n, tự tin khẳng định bản th&acirc;n trong thời đại số.</span></span></li>
</ul>
                                    </li>
                                                            </ul>
                         
                        </div>
                    </div>
              </div> 
            </div>

        </div>
        <div class=" col-md-12 thpt-img">
        
        </div>
    </div>
  
</div>
<div class="mb clearfix">
    <div class="mb-content">
        <div class="md-content-slide">
            <div class="md-flipster">
              <p class="line1-layout3">
                  HOCMAI ĐÃ PHÁT TRIỂN VÀ CẬP NHẬT ỨNG DỤNG HỌC TẬP TRÊN ĐIỆN THOẠI,<br>
                  GIÚP NGƯỜI HỌC TIẾP CẬN CÁC CHƯƠNG TRÌNH CỦA HOCMAI MỘT CÁCH DỄ DÀNG VÀ THUẬN TIỆN
              </p>
              <p class="line2-layout3">
                  HIỆN NAY ỨNG DỤNG HOCMAI.VN ĐÃ CÓ MẶT TRÊN KHO ỨNG DỤNG APP STORE VÀ CH PLAY
              </p>
            </div>
            <div class="md-content-sub"></div>
        </div>
        <div class="md-content-slide-mb">
            <div class="md-flipster">
              <p class="line1-layout3">
                  HOCMAI ĐÃ PHÁT TRIỂN VÀ CẬP NHẬT<br> ỨNG DỤNG HỌC TẬP TRÊN ĐIỆN THOẠI,<br>
                  GIÚP NGƯỜI HỌC TIẾP CẬN CÁC CHƯƠNG TRÌNH <br> CỦA HOCMAI MỘT CÁCH DỄ DÀNG VÀ THUẬN TIỆN
              </p>
              <p class="line2-layout3">
                  HIỆN NAY ỨNG DỤNG HOCMAI.VN ĐÃ CÓ MẶT TRÊN <br> KHO ỨNG DỤNG APP STORE VÀ CH PLAY
              </p>
            </div>
            <div class="md-content-sub"></div>
        </div>
    </div>
</div>

<div class="mb clearfix layout3">
    <div class="col-md-12 download-app-mb">
        <img class="honma-img" src="https://hocmai.vn/public/pages/images/about/homalay3-mb.png"/>
    </div>
    <div class="col-md-12">
        <div class="col-md-4 layout3-part1" >
             <a title="Tải ứng dụng HOCMAI Lectures" target="_blank" href="https://play.google.com/store/apps/details?id=com.hocmai&hl=vi">
                <img class="footer-image-app" src="https://hocmai.vn/theme/new2/images/footer-google-app.png"/>
            </a>
        </div>
        <div class="col-md-4 layout3-part2">
                <img class="footer-iphone"  src="https://hocmai.vn/public/pages/images/about/bg-layout3.png"/>
        </div>
         <div class="col-md-4 layout3-part3" >
             <a title="Tải ứng dụng HOCMAI Lectures" target="_blank" href="https://apps.apple.com/us/app/hocmai-vn-2000-kh%C3%B3a-l%E1%BB%9Bp-1-12/id1476075532">
                <img class="footer-image-app"  src="https://hocmai.vn/theme/new2/images/footer-store-app.png"/>
            </a>
        </div>
    </div>
    <div class="col-md-12 download-app-mb appmb" >
         <div class="col-md-4 layout3-part1mb" >
             <a title="Tải ứng dụng HOCMAI Lectures" target="_blank" href="https://play.google.com/store/apps/details?id=com.hocmai&hl=vi">
                <img class="footer-image-app" src="https://hocmai.vn/theme/new2/images/footer-google-app.png"/>
            </a>
        </div>
        <div class="col-md-4 layout3-part3mb" >
             <a title="Tải ứng dụng HOCMAI Lectures" target="_blank" href="https://apps.apple.com/us/app/hocmai-vn-2000-kh%C3%B3a-l%E1%BB%9Bp-1-12/id1476075532">
                <img class="footer-image-app"  src="https://hocmai.vn/theme/new2/images/footer-store-app.png"/>
            </a>
        </div>
    </div>
</div>
<link type="text/css" rel="stylesheet" href="https://hocmai.vn/public/pages/css/swiper.min.css"/>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap" rel="stylesheet">
<script src="https://hocmai.vn/public/js/particles.js"></script>
<script src="https://hocmai.vn/public/js/swiper.min.js"></script>
<script src="https://hocmai.vn/public/js/app.js"></script>
  <script>
    var swiper = new Swiper('.swiper-container', {
      autoHeight: true,
      slidesPerView: 'auto',
      centeredSlides: true,
      spaceBetween: 20,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
  </script>        </div>
    </div>
</div>
<div id="footer-new">
    <div class="footer-content">
        <div class="wrapper clearfix top-botton-footer-new" style="background: none;">
            <div class="footer-right">
                <div class="clearfix">
                     <div class="footer-block col-md-12">
                        <h4 class="footer-block-title-new">
                            Hocmai.vn là sản phẩm thuộc Hệ thống Giáo dục HOCMAI - <br>
                            Đơn vị cung cấp chương trình giáo dục trực tuyến hàng đầu Việt Nam dành cho học sinh từ lớp 1 đến lớp 12
                        </h4>
                        <h2 class="footer-mb">
                                  Hocmai.vn là sản phẩm thuộc<br> Hệ thống Giáo dục HOCMAI - 
                        </h2>
                        <h4 class="footer-mb1">
                      
                            Đơn vị  cung cấp chương trình giáo dục trực tuyến hàng đầu Việt Nam<br> dành cho học sinh từ lớp 1 đến lớp 12
                        </h4>
                        
                    </div>
                     <!--    <div class="footer-block col5">
                            <h3 class="footer-block-title-new">VỀ HOCMAI</h3><span class="click-plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            <ul class="footer-block-list rp-footer" data-closep="0">
                                <li><a href="http://hocmai.vn/gioi-thieu" target="_blank">Giới thiệu</a></li>
                                <li><a href="https://hocmai.vn/giao-vien-noi-tieng.html" target="_blank">Giáo viên nổi tiếng</a></li>
                                <li><a href="http://hocmai.vn/hoc-sinh-tieu-bieu.html" target="_blank">Học sinh tiêu biểu</a></li>
                                <li><a href="https://hocmai.vn/privacy2.php" target="_blank">Điều khoản chính sách</a></li>
                                <li><a href="https://hocmai.vn/tuyen-dung" target="_blank">Tuyển dụng</a></li>

                            </ul>
                        </div>
                        <div class="footer-block col5">
                            <div class="fix-col-2-footer">
                                <h3 class="footer-block-title-new">DỊCH VỤ</h3><span class="click-plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                <ul class="footer-block-list rp-footer" data-closep="0">
                                    <li><a href="https://hocmai.vn/kho-tai-lieu/" target="_blank">Thư viện</a></li>
                                    <li><a href="https://onluyen.vn/" target="_blank">Ôn luyện</a></li>
                                    <li><a href="http://diendan.hocmai.vn/index.php" target="_blank">Diễn đàn HOCMAI</a></li>
                                    <li><a href="https://speakup.vn/" target="_blank">Speakup - Tiếng Anh 1 kèm 1 Online</a></li>
                                    <li><a href="http://xiso.edu.vn/" target="_blank">XiSo - Trường học lập trình trực tuyến</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-block col5">
                            <h3 class="footer-block-title-new">HỖ TRỢ KHÁCH HÀNG</h3><span class="click-plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            <ul class="hotline-icon footer-block-list-new rp-footer" data-closep="0">
                                <li><a target="learn-online" class="scroll" href="https://hocmai.vn/ho-tro/">Trung tâm hỗ trợ</a></li>
                                <li><span style="color: #a6a6a6;font-weight: bold;font-size: 13px;"> Email: hotro@hocmai.vn</span></li>
                                <li><span style="color: #a6a6a6;font-weight: bold;font-size: 13px;"> Đường dây nóng: 1900 6933</span></li>
                                <li></li>
                            </ul>
                        </div>
                        <div class="footer-block col5">
                            <h3 class="footer-block-title-new">DÀNH CHO ĐỐI TÁC</h3><span class="click-plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                            <ul class="footer-block-list footer-block-list-new rp-footer" data-closep="0">
                                <li><span style="color: #a6a6a6;font-weight: bold;font-size: 13px;"> Email: info@hocmai.vn</span></li>
                                <li><span style="color: #a6a6a6;font-weight: bold;font-size: 13px;">Tel: +84 (24) 3519-0591</span></li>
                                <li><span style="color: #a6a6a6;font-weight: bold;font-size: 13px;">Fax: +84 (24) 3519-0587</span></li>
                            </ul>
                        </div>
                        <div class="footer-block col5">
                            <h3 class="footer-block-title-new hide-rp-title-footer">TẢI ỨNG DỤNG HOCMAI</h3>
                            <a title="Tải ứng dụng HOCMAI Lectures" target="_blank" href="https://play.google.com/store/apps/details?id=com.hocmai&hl=vi">
                                <img class="footer-image-app" src="https://hocmai.vn/theme/new2/images/footer-google-app.png"/>
                            </a>
                            <a title="Tải ứng dụng HOCMAI Lectures" target="_blank" href="https://apps.apple.com/us/app/hocmai-vn-2000-kh%C3%B3a-l%E1%BB%9Bp-1-12/id1476075532">
                                <img class="footer-image-app"  src="https://hocmai.vn/theme/new2/images/footer-store-app.png"/>
                            </a>
                            <a target="_blank" href="http://online.gov.vn/Home/WebDetails/2324">
                                <img class="footer-image-app"  src="https://hocmai.vn/theme/new2/images/congthuong.png" style="border-top: 1px solid #e2dfdf;"/>
                            </a>
                        </div> -->
                </div>
            </div>
        </div>
    <!--     <div class="wrapper clearfix" style="background: none;">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p class="footer-des-new">
                        Cơ quan chủ quản: Công ty Cổ phần Đầu tư và Dịch vụ Giáo dục<br />
                        MST: 0102183602<br />
                        Địa chỉ: Tầng 4, Tòa nhà 25T2, Đường Nguyễn Thị Thập, Phường Trung Hoà, Quận Cầu Giấy, Hà Nội.<br />
                        Chịu trách nhiệm nội dung: Phạm Giang Linh
                    </p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p class="footer-des-new footer-des-new-right">
                        Giấy phép cung cấp dịch vụ mạng xã hội trực tuyến số 597/GP-BTTTT Bộ Thông tin và Truyền thông cấp ngày 30/12/2016.<br/>
                    </p>
                </div>
            </div>
        </div> -->
    </div>

</div>

<div class="modal hocmai-modal fade" tabindex="-1" id="testTrialModal" role="dialog" aria-labelledby="testTrialModalTitle" aria-hidden="true" data-backdrop="static" style="display: none">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="testTrialModalTitle">Đặt chỗ PEN-I giảm 15% học phí</h4>
            </div>
            <div class="modal-body">
                <div>
                    <p>- Giảm <strong style="color: red">15%</strong> học phí khi đặt chỗ PEN-I 2016. </p>
                    <p>- Cơ hội chỉ đến hết <strong style="color: red">14/12/2015</strong></p>
                </div>
                <div class="dc-btn-wrapper">
                    <a class="btn btn-primary" href="http://hocmai.vn/su-kien/dat-cho-pen-i/?utm_source=course-pop-up&utm_medium=pop-up-1&utm_campaign=DC-PEN-I-2016">Đặt chỗ ngay</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var isMobile = {
    Android: function() { return navigator.userAgent.match(/Android/i); },
    BlackBerry: function() { return navigator.userAgent.match(/BlackBerry/i); },
    iOS: function() { return navigator.userAgent.match(/iPhone|iPad|iPod/i); },
    Opera: function() { return navigator.userAgent.match(/Opera Mini/i); },
    Windows: function() { return navigator.userAgent.match(/IEMobile/i); },
    any: function() { return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows()); } };


if(isMobile.any()){
    var divapp=document.createElement('div');
    divapp.id='app_overlay';

    /*divapp.innerHTML = '<div class="banner-content" style="width: 100% position: relative; display: none;">' +
    '<button onclick="closeAdsApp();" style="position: absolute; top: 5px; right: 10px;" type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>' +
    '<a style="display: block" target="_blank" href="http://hocmai.vn/luyen-thi-quoc-gia/luyen-thi-pen-m/?utm_source=trangchu&utm_medium=sticky-mobile&utm_term=cap-toc&utm_campaign=DC-PEN-M-2016"><img style="width: 100%" src="/public/home/img/banner-pen-m-mobile.png"></a>' +
    '</div>';*/
    divapp.innerHTML='<div onclick="closeAdsApp();" id="close_big_app_overlay"><img src="/public/popup/close.png" alt="close" style="float:left;margin: 38% auto auto 5%;width: 13%;padding:3%;min-height:25px;min-width:25px;border:1px solid #dadada;" />&nbsp;</div>';
    divapp.innerHTML+='<div style="width:60%;float:left;text-align: center;"> <img src="/public/popup/app.png" alt="app_logo" style="margin:auto;max-width:100%;min-height:100px;" /></div>';
    divapp.innerHTML+='<div style="width:20%;float:left;text-align: center;"> <img src="/public/popup/download.png" alt="download" style=" margin-top: 4%;margin-right:12px;float:right;max-width:100%;min-height:45px;" /></div>';
    divapp.innerHTML+='<a style="cursor: pointer;text-indent: -9999px;" id="link_big_app_overlay" href="https://play.google.com/store/apps/details?id=hocmai.vn.activity" target="_blank">&nbsp;</a>';

    if (document.body.firstChild){
        document.body.insertBefore(divapp, document.body.firstChild);
    } else {
        document.body.appendChild(divapp);
    }

    function closeAdsApp(){
        document.body.removeChild(divapp);
    }

    var styleEl = document.createElement('style');
    styleEl.innerHTML = "#app_overlay{z-index:99999999 !important; background:transparent !important;width:100%;margin:auto;position:fixed !important;bottom:0;left:0;} #link_big_app_overlay {height: 100%;left: 0;position: absolute; top: 0;width: 100%;z-index:0;}  #close_big_app_overlay {width:20%;float:left;z-index:777;cursor:pointer;position:relative;}";
    document.head.appendChild(styleEl);
}
</script>
<script type="text/javascript" src="https://hocmai.vn/support-chat.php"></script>    <script language="javascript"  type="text/javascript" src="https://hocmai.vn/public/home/js/jquery-ui-1.10.4.min.js"></script>
    <script language="javascript"  type="text/javascript" src="https://hocmai.vn/public/home/js/bootstrap.min.js"></script>
    <script language="javascript"  type="text/javascript" src="https://hocmai.vn/public/home/js/jquery.elastislide.js"></script>
    <script language="javascript"  type="text/javascript" src="https://hocmai.vn/public/home/js/jquery.cookie.js"></script>
    <script language="javascript"  type="text/javascript" src="https://hocmai.vn/public/home/js/kinetic.js"></script>
    <script language="javascript"  type="text/javascript" src="https://hocmai.vn/public/home/js/jquery.final-countdown.min.js"></script>
    <script language="javascript"  type="text/javascript" src="https://hocmai.vn/public/home/js/jquery.sticky-kit.min.js"></script>
    <script language="javascript"  type="text/javascript" src="https://hocmai.vn/public/home/js/gallery.js"></script>
    <script language="javascript"  type="text/javascript" src="https://hocmai.vn/public/home/js/main.js?v=1.1.3"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
     
      ga('create', 'UA-2509692-1', 'auto');
      ga('send', 'pageview');

    $(document).ready(function () {
        var eventCategory = 'HocmaiHome';
        $(document).on('click', '.gg-analytic', function (e) {
            var $this = $(this);
            var $action = $this.data('event');
            var $label = $this.data('track-label');

            if(typeof $label == typeof undefined){
                ga('send', 'event', eventCategory, $action);
            }else{
                ga('send', 'event', eventCategory, $action, $label);
            }
        });

        if ($(window).width() > 1319) {
            $(".side-banner").stick_in_parent({
                offset_top: 20,
                parent: '.side-banner-container'
            });
        } else {
            $('.side-banner-wrapper').hide();
        }

        $('.md-flipster').flipster({
            style: 'carousel',
            loop: true,
            spacing: -0.45,
            onItemSwitch: function () {
                var $this = $(this);

                var sub = $this.find('.flip-current').data('sub');
                $this.parents('.md-content-slide').find('.md-content-sub').html(sub);
            }
        });

        $('.list-items').jaliswall({

            // item classname
            item : '.mansory-item',

            // column classname
            columnClass : '.wall-column'

        });

        $('.md-content-slide').on('click', '.flip-item:not(.flip-current) a', function (e) {
            e.preventDefault();
        });

        /*var endDate = new Date(2015, 12, 14, 23, 59, 59);
         var today = new Date();
         if (window.innerWidth > 480 && endDate > today) {
         if(!$.cookie('testTrial')){
         var testTrial = $('#testTrialModal');
         testTrial.modal('show');
         testTrial.on('hidden.bs.modal', function(e) {
         $.cookie('testTrial', 1, 1);
         $('#testTrialModal').hide();
         });
         }
         }*/

    });
     
    </script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.4&appId=600873143331099";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
</body>

</html>