
<header>
			<div class="I-header">
				<div class="wrapper">
					<div class="header-wrapper">
						<div class="header-logo">
							<img src="http://localhost:3000/img/bg-log.png">
							<div class="logo align-justify-center">
								<a href="http://localhost:3000"><img src="http://localhost:3000/logoelearning.png"></a>
							</div>
						</div>
						<div class="header-search align-justify-center lp fp">
							<div class="search-wrapper">
								<input type="" name="" placeholder="Tìm kiếm khóa học">
								<a href="" class="align-justify-center"><i class="fas fa-search"></i></a>
							</div>
						</div>
						<div class="header-action align-justify-center">
							<a href="http://localhost:3000" class="btns btns-warning action-register lp">Trang giới thiệu</a>&nbsp;&nbsp;&nbsp;
							<a href="/user/login" class="btns m-r-20 lp">Đăng nhập</a>
							<a href="/user/register" class="btns btns-primary action-register lp">Đăng kí</a>
							<div href="" class="btns sp open-menu"><i class="fas fa-bars"></i></div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<main>
			<div class="I-login">
				<div class="wrapper">
					<div class="login-wrapper">
						<h3 class="m-b-20">Đăng nhập tài khoản của bạn</h3>

						<p>Học tập và giao lưu với hàng nghìn học viên </p>
						<h5 class="m-b-30" >Xem thêm thông tin về những khóa học trong hệ thống và thư viện tài liệu </h5>
						
						<form action="/user/login" method="POST">
							<input type="email" name="email" placeholder="Email" pattern="[@-.-com]" minlength="3" required>
							<input type="password" name="password" placeholder="Mật khẩu" minlength="5">
							<button type="submit">Đăng nhập</button>
						</form>
            <div class="login-social">
							<a href="/forgot-password" class="facebook">Quên mật khẩu</a>
							<a href="/assistant" class="google">Bạn cần hỗ trợ?</a>
						</div>
					</div>
					{{#if warning}}
						<script>alert('Bạn chưa có tài khoản hoặc tài khoản không còn quyền truy cập. Liên hệ Admin để biết thêm thông tin .')</script>
					{{/if}}
					{{#if warning2}}
						<script>alert('Bạn vui lòng đăng nhập tài khoản đúng với vai trò')</script>
					{{/if}}
					{{#if notification}}
						<script>alert('Bạn đã đăng kí tài khoản thành công, Hãy tiến hành đăng nhập')</script>
					{{/if}}
				</div>
			</div>
		</main>
		<footer class="footer">
		    <div class="I-footer">
		        <div class="footer_contact">
		            <div class="wrapper">
		                <div class="row">
		                    <div class="col-xs-12 col-xm-12 col-md-6 col-lg-3 col-xl-3">
		                        <a href="" class="full_logo">
		                            <img src="http://localhost:3000/logoelearning.png">
									
		                        </a>
		                    </div>
		                    <div class="col-xs-12 col-xm-12 col-md-6 col-lg-3 col-xl-3">
		                        <div class="contact_wrapper">
		                            <div class="contact_title">
		                                <h5>Về chúng tôi</h5>
		                            </div>
		                            <div class="contact_content">
		                                <span>Admin : Trần Minh Sơn</span>
		                                <span><i class="fas fa-phone"></i> <a href="tel:0" class="telephone">(+84) 0385853267</a></span>
		                                <span><i class="fas fa-envelope"></i> <a href="mailto:" class="time">anhnangphuongmai98@gmail.com</a></span>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="col-xs-12 col-xm-12 col-md-6 col-lg-3 col-xl-3">
		                        <div class="contact_wrapper">
		                            <div class="contact_title">
		                                <h5>Danh mục</h5>
		                            </div>
		                            <div class="contact_content">
		                                <span><a href="">*</a></span>
		                                <span><a href=""></a></span>
		                                <span><a href=""></a></span>
		                                <span><a href=""></a></span>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="col-xs-12 col-xm-12 col-md-6 col-lg-3 col-xl-3">
		                        <div class="contact_wrapper">
		                            <div class="contact_title">
		                                <h5>Theo dõi chúng tôi:</h5>
		                            </div>
		                            <div class="contact_content">
		                                <div class="social_wrapper">
		                                    <a class="social-item" href="<?php echo $info->fb ?>"><i class="fab fa-facebook-f"></i></a>
		                                    <a class="social-item" href="<?php echo $info->linkin ?>"><i class="fab fa-linkedin-in"></i></a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <div class="copyright">
		            <div class="wrapper">
		                <div class="pull-left">
		                    Copyright © 2021. All rights reserved. 
		                </div>
		            </div>
		        </div>
		    </div>
		</footer>
		<div class="menu sp">
			<div class="menu-wrapper">
				<ul class="main_navigation">
					<li><a href="">Giới thiệu</a></li>
					<li><a href="">Giáo viên</a></li>
					<li><a href="">Danh mục</a></li>
					<li class="sub_navigation">
						<a href="">Thư viện</a>
						<div class="sub_nav_wrapper">
							<ul>
								<li><a href="">Sách A</a></li>
								<li><a href="">Sách B</a></li>
								<li><a href="">Sách C</a></li>
								<li><a href="">Sách D</a></li>
								<li><a href="">Sách R</a></li>
								<li><a href="">Sách T</a></li>
							</ul>
						</div>
						<div class="open_sub">
							<i class="fas fa-sort-down"></i>
						</div>
					</li>
					{{!-- <li><a href="">Phòng thi</a></li> --}}
					<li><a href="" class="login-button">Đăng nhập</a></li>
					<li><a href="" class="login-button">Đăng kí</a></li>
				</ul>
			</div>
		</div>

		{{#if warning}}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<strong>Thất bại!</strong> Bạn chưa có tài khoản hoặc tài khoản đã bị chặn . Liên hệ Admin để biết thêm thông tin.
			<button type="button" class="close" data-dismiss="alert" aria-label="Close" style="text-align: right;">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
		{{/if}}