<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hệ thống học trực tuyến</title>
    {{!-- <link rel="stylesheet" href="http://localhost:3000/css/main.css"> --}}
    <link rel="stylesheet" href="http://localhost:3000/css/vendon/owl.carousel.min.css" />
	<link rel="stylesheet" href="http://localhost:3000/css/style.css" />
	<script type="text/javascript" src="http://localhost:3000/js/jquery-3.4.1.min.js"></script>
    
    

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js">
</head>
<body>
    <style> 
        body{
            font-size: 15px;
            font-family: monospace;
        }
    </style>
    {{{body}}}
</body>
</html>